.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  font-size: 3.5rem;
}

.footer-icon{
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: black;
}

#instagram{
  background: radial-gradient(circle at 30% 107%, #FDF497 0%, #FDF497 5%, #FD5949 45%, #D6249F 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #FDF497 0%, #FDF497 5%, #FD5949 45%, #D6249F 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

#resume:hover {
  color: inherit;
}

#linkedin:hover {
  color: #2969B1;
}

#github:hover {
  color: #800080;
}

#instagram:hover {
  color: transparent;
}

#youtube:hover {
  color: #FF0000;
}

#namewordart:hover {
  cursor: pointer;
}

